.topbar_inner {
    background-color: black !important;
}

.shane_tm_topbar .menu ul li a {
    color: white !important;
}

.shane_tm_section {
    background-color: black !important;
}

.shane_tm_section p {
    color: white !important;
}